.navbar-item {
  font-size: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 160px;
  height: inherit;
  transition: all 0.2s;
}

.navbar-item:hover {
  background-color: #15151e;
}

.navbar-item a {
  color: darkslategray;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.navbar-item a:hover {
  color: white;
}

.navbar-item a.active {
  color: royalblue;
  text-transform: uppercase;
  font-weight: bold;
}
