.navbar-container {
  background-color: blanchedalmond;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: auto;
  height: 50px;
  color: darkslategrey;
}

.navbar-nav {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
}
