.App {
  text-align: center;
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 30px auto;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}
